<section class="ba-section-catalog">
<div class="row-align-center">
<div class="column small-12 medium-10">

	<h2 class="ba-heading-line">Каталог видань</h2>

	<div class="ba-catalog-list-wrap">
		<div class="row">
			<div class="ba-column small-12 medium-4">
				<h3>Книги</h3>
				<ul class="ba-list">
					<li><a href="#">Монографії</a></li>
					<li><a href="#">Навчально-методичні видання</a></li>
					<li><a href="#">Навчальні посібники</a></li>
					<li><a href="#">Підручники</a></li>
					<li><a href="#">Тези доповідей</a></li>
				</ul>

				<h3>Журнали</h3>
				<ul class="ba-list">
					<li><a href="#">Вісник Національного університету “Львівська політехніка”</a></li>
					<li><a href="#">Міжвідомчі науково-технічні збірники</a></li>
					<li><a href="#">Наукові журнали</a></li>
					</ul>
			</div>

					<div class="column small-12 medium-8">
						<h3>За рубриками</h3>
						<ul class="ba-list ba-list--2col">
							<li><a href="#">Монографії</a></li>
							<li><a href="#">Навчально-методичні видання</a></li>
							<li><a href="#">Навчальні посібники</a></li>
							<li><a href="#">Підручники</a></li>
							<li><a href="#">Тези доповідей</a></li>
							<li><a href="#">Монографії</a></li>
							<li><a href="#">Навчально-методичні видання</a></li>
							<li><a href="#">Навчальні посібники</a></li>
							<li><a href="#">Підручники</a></li>
							<li><a href="#">Тези доповідей</a></li>
							<li><a href="#">Монографії</a></li>
							<li><a href="#">Навчально-методичні видання</a></li>
							<li><a href="#">Навчальні посібники</a></li>
							<li><a href="#">Підручники</a></li>
							<li><a href="#">Тези доповідей</a></li>
							<li><a href="#">Монографії</a></li>
							<li><a href="#">Навчально-методичні видання</a></li>
							<li><a href="#">Навчальні посібники</a></li>
							<li><a href="#">Підручники</a></li>
							<li><a href="#">Тези доповідей</a></li>
						</ul>	
						<a class="ba-catalog-view-all" href="catalog.html">дивитись усі >></a>
					</div>
					<!-- /.column -->
			</div>
			<!-- /.ba-column -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.ba-catalog-list-wrap -->
</div>
<!-- /.column -->

</div>
<!-- /.row-align-center -->



</section>